{% extends 'index.html' %}
{% load static %}
{% block content %}
	<h2 class="title" id="catal">Каталог Кино</h2>
    {% if myform %}
        <div class="poisk">
    <form action="" method="post">
    {% csrf_token %} 
    {{ myform }}
        <input type="submit" value="Поиск">
    </form>
        </div>
    {% endif %}
    
    {% if poisk %}
    <ul>
            {% for one in films %}
        <li>
            <img src="{% static one.poster %}" alt="" width="150px">
            <a href="{{ one.get_absolute_url }}" class="aaa">
                <p>Фильм {{ one.title }}</p>
            </a>
            <p>Режиссер {{ one.director }}</p>
        </li>
        {% endfor  %}
    </ul>
    {% else %}
    <ul>
    {% for one in kino_list %}
        <li>
            <img src="{% static one.poster %}" alt="" width="150px">
            <a href="{{ one.get_absolute_url }}" class="aaa">
                <p>Фильм {{ one.title }}</p>
            </a>
            <p>Режиссер {{ one.director }}</p>
        </li>
    {% endfor  %}
    </ul>
{#    <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">>>></a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

{% endif %}
{% endblock %}